.container{
    width: 100vw;
    height: 75vh;
    background-color: #bddfea;
    box-shadow: #fefefe;
    display: flex;
    justify-content: center;
    align-content: center;
}

.Comentarios{
    background-color: #fefefe;
    border-radius: 10px;
    margin-top: 50px;
}